<a href="https://colab.research.google.com/github/radhikab662/SoC-2k21/blob/main/Task1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [11]:
import pandas as pd

In [12]:
#i. Read the data file into a data frame.
df=pd.read_csv('/content/master.csv')

In [13]:
#ii. Display a portion of the data to get a feel for the dataset.
df.head()

   country  year  ... gdp_per_capita ($)       generation
0  Albania  1987  ...                796     Generation X
1  Albania  1987  ...                796           Silent
2  Albania  1987  ...                796     Generation X
3  Albania  1987  ...                796  G.I. Generation
4  Albania  1987  ...                796          Boomers

[5 rows x 12 columns]

In [14]:
#iii. Print the number of records (number of rows).
df.shape[0]

27820

In [15]:
#iv. Print the number of variables (number of columns).
df.shape[1]

12

In [16]:
#v. Print the datatype of each variable.
df.dtypes

country                object
year                    int64
sex                    object
age                    object
suicides_no             int64
population              int64
suicides/100k pop     float64
country-year           object
HDI for year          float64
 gdp_for_year ($)      object
gdp_per_capita ($)      int64
generation             object
dtype: object

In [17]:
#vi. For each variable, print the number of unique values.
df.nunique()

country                 101
year                     32
sex                       2
age                       6
suicides_no            2084
population            25564
suicides/100k pop      5298
country-year           2321
HDI for year            305
 gdp_for_year ($)      2321
gdp_per_capita ($)     2233
generation                6
dtype: int64

In [18]:
#vii. For each variable, display the number of missing entries.
df.isnull().sum()

country                   0
year                      0
sex                       0
age                       0
suicides_no               0
population                0
suicides/100k pop         0
country-year              0
HDI for year          19456
 gdp_for_year ($)         0
gdp_per_capita ($)        0
generation                0
dtype: int64

In [19]:
#viii. Find the number of records with no missing entries
len(df.dropna().index)

8364